@model NeutronTMS.Models.Assessment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Assessment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Training)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Training.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentLink)
        </dt>
        <dd class="col-sm-10">

            <a href="@Html.DisplayFor(model => model.DocumentLink)">@Html.DisplayFor(model => model.DocumentLink)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionLink)
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.SubmissionLink)">@Html.DisplayFor(model =>
                model.SubmissionLink)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.Email)
        </dd>
    </dl>
</div>
<div>
    <br>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><button type="button" class="btn btn-success">Edit</button></a> |
    <a asp-action="Index"><button type="button" class="btn" style="background-color:#fcd800;">Back to List</button></a>
</div>
