@model IEnumerable<NeutronTMS.Models.Assessment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="disply:flex; flex-direction:row;">
    <h1>Assessment Page</h1>
    <p style=" display: flex;
  justify-content: end;">
        <a asp-action="Create"><button type="button" class="btn btn-success">Create New</button></a>
    </p>
    <form asp-controller="Assessment" asp-action="Index" class="input-group mb-3">
        <input type="search" class="form-control" name="SearchString" placeholder="Search"
            aria-describedby="button-addon2">
        <button class="btn btn-info" type="submit" id="button-addon2" value="Filter"
            style="margin-left:0.4em">Search</button>
        <button value="#" class="btn btn-outline-info" type="submit" style="margin-left:0.6em">Back</button>

    </form>
    <br>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Training)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.DocumentLink)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.SubmissionLink)
                </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.Status)
                </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.StartDate)
                </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Training.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @* <td>
                    <a href="@Html.DisplayFor(modelItem => item.DocumentLink)">@Html.DisplayFor(modelItem =>
                    item.DocumentLink)</a>
                    </td>
                    <td>
                    <a href="@Html.DisplayFor(modelItem => item.SubmissionLink)">@Html.DisplayFor(modelItem =>
                    item.SubmissionLink)</a>

                    </td> *@
                @* <td>
                    @Html.DisplayFor(modelItem => item.Status)
                    </td> *@
                @* <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button"
                        class="btn btn-warning">Edit</button></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button"
                        class="btn btn-info">Details</button></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button"
                        class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
